<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/control_caja?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="co/tecnomati/java/controlcaja/dominio/Comprobanteconcepto.hbm.xml"/>
    <mapping resource="co/tecnomati/java/controlcaja/dominio/Cooperativa.hbm.xml"/>
    <mapping resource="co/tecnomati/java/controlcaja/dominio/Concepto.hbm.xml"/>
    <mapping resource="co/tecnomati/java/controlcaja/dominio/Asociado.hbm.xml"/>
    <mapping resource="co/tecnomati/java/controlcaja/dominio/Proveedor.hbm.xml"/>
    <mapping resource="co/tecnomati/java/controlcaja/dominio/Tipocomprobante.hbm.xml"/>
    <mapping resource="co/tecnomati/java/controlcaja/dominio/Cliente.hbm.xml"/>
    <mapping resource="co/tecnomati/java/controlcaja/dominio/Comprobante.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
